@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

/* variales */

:root {
    --primary: #c48b98;
    --primary-light: #daa0ad;
    --secondary: #01213f;
    --background-primary: white;
}

/* mobile styles */

body a {
    color: black;
}

header {
    text-align: center;
}

.logo {
    margin: 20px;
}

.logo a {
    margin: 10px 0 15px 0;
    font-size: 50px;
}

nav {
    margin: 20px;
}

nav ul {
    margin-bottom: 30px;
}

nav li {
    line-height: 40px;
    font-size: 20px;
}

.banner {
    background-color: var(--secondary);
    padding: 35px 20px;
}
  
.border-box {
    border: 4px solid white;
    height: 235px;
}
  
.border-box h1 {
    margin-top: 15px;
    font-size: 45px;
    color: white;
    font-weight: 100;
}
  
.border-box h2 {
    line-height: 40px;
    margin-bottom: 35px;
    color: white;
    font-weight: 100;
    font-size: 40px;
}
  
.btn-see-deals-container {
    border: 2px solid var(--primary);
    display: inline-block;
    padding: 15px 80px;
}
  
.btn-see-deals-container button {
    background-color: transparent;
    color: var(--primary);
    border: none;
}

section {
    background-color: var(--background-primary);
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 368px;
    padding: 15px 0px 50px 0px;
}

.card {
    background-color: var(--background-primary);
    border-radius: 6px;
    overflow: hidden;
    margin: 10px 10px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.062);
    max-width: 450px;
}

.card-img-1 img {
   width: 100%;
   height: 414px;
   object-fit: cover;
}

.card h2 {
    font-weight: 100;
}

.card-text {
    padding: 20px;
}
  
.price-section {
    display: flex;
    justify-content: space-between;
}
  
.product-description {
    display: none;
}
  
.price-tag {
    margin-top: 20px;
}
  
.line-through {
    text-decoration: line-through;
    color: #8c8c8c;
    font-size: 14px;
}
  
.cart {
    display: flex;
    align-items: flex-end;
}
  
.icon {
    margin: 0px 3px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.icon img {
    width: 30px;
    height: 30px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn-load-more {
    padding: 15px;
    margin-top: 30px;
    background-color: var(--primary);
    border: none;
    text-align: center;
    width: 230px;
}
  
.btn-load-more button {
    color: var(--background-primary);
    background-color: transparent;
    border: transparent;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #f9f9f9;
    width: 100%;

}
  
.footer-box {
    margin: 30px 0;
}
  
.footer-box h4 {
    margin-bottom: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.712);
}
  
.footer-box li {
    line-height: 30px;
}
  
.footer-box a {
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.699);
}
  
.footer-bottom-title {
    display: inline-block;
    padding: 20px;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.705);
}


/* desktop styles */

@media screen and (min-width: 1200px) {

    /* header */

    .main-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 60px;
    }

    nav {
        margin: 0;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav li {
        margin-left: 60px;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* banner */

    .banner {
        display: flex;
        justify-content: center;
    }

    .border-box {
        width: 30%;
    }

    /* product section */

    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
        width: 568px;
        padding: 30px 0px 50px 0px;
    }

    .card {
        display: flex;
        max-width: 450px;
        margin: 0 auto;
        height: 230px;
    }

    .card-img-1 {
        width: 60%;
    }

    .card-img-1 img {
        height: 100%;
        width: 100%;
    }

    .price-section {
        margin-top: 55px;
    }

    .product-description {
        display: block;
        margin-top: 10px;
    }

    .icon {
        margin: 0px 3px;
        width: 24px;
        height: 24px;
        background: transparent;
        border: none;
    }

    .icon img {
        width: 24px;
        height: 24px;
    }
    
    /* footer */

    .footer-box {
      padding: 0px 60px;        
    }
  
    .footer-box-left {
      justify-self: left;
      text-align: left;
    }
  
    .footer-box-right {
      justify-self: right;
      text-align: left;
    }
  
    .footer-bottom-title {
        grid-column: 2;
        font-size: 1.5rem;
    }
  
    .footer-bottom-title h3 {
      font-size: 1.5rem;
    }

}